In [ ]:
def findDuplicate(nums):
      total_array,temp = 0,0

      
      for i in range(len(nums)):
        total_array += nums[i]
      
      

      for j in range(len(nums)):

        temp +=j
      

      return total_array-temp

In [ ]:
nums=[1,2,3,4,1]

In [ ]:
findDuplicate(nums)

total_array 11
count: 10

1

In [ ]:
def findDuplicate(nums):
  length1 = len(nums)
  for i in range(len(nums)):
    for j in range(i+1,len(nums)):
      if nums[i]==nums[j]:
        return nums[i]

In [ ]:
nums=[4,4,4,4,4]

In [ ]:
findDuplicate(nums)

4

In [ ]:
def checkIfExist(arr):
  val2 = False
  val = False
  for i in range(len(arr)):

    if arr[i] == 0:
      val = False
    
    
    if arr[i]*2 in arr and arr[i] != 0:
      val = True
      
    else:
      
      val =  False
    if val == True:
        val2=True
  return val2

In [ ]:
arr = [0,5,10,3]

In [ ]:
checkIfExist(arr)

True

In [ ]:
class User:
  
  def __init__(self, fname, lname):

    self.first_name = fname
    self.last_name = lname

  def __repr__(self):
    return "My first name is {} and last name is {}".format(self.first_name,self.last_name)

  def __str__(self):
    
    return "This is try to print {} and {}".format(self.first_name, self.last_name)

  def find_last_name(self, frs_nm):
     for user in self.user_list:
       if user.first_name == frs_nm:
         return user

In [ ]:
chirag = User('Chirag', 'Prakash')

In [ ]:
chirag.find_last_name("Chirag")

AttributeError: ignored

In [ ]:
nammo = User("Nammo","Yadav")

In [ ]:
user_list = [chirag, nammo]

In [ ]:
print(user_list)

[My first name is Chirag and last name is Prakash, My first name is Nammo and last name is Yadav]

This is try to print Chirag and Prakash

In [ ]:
user_list

[My first name is Chirag and last name is Prakash,
 My first name is Nammo and last name is Yadav]

In [ ]:
1,2,3,4,5